.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color:#495E57 ;
    width: 100%;
    padding: 60px 30%;
    gap: 40px;
   
}

.header-left{
    color: #EDEFEE;
    font-size: 42px;
    margin-bottom: 5px;
}

.header-left h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.header-left button{
    margin-top: 50px;
    margin-bottom: 30px;
}

.header-left h1{
color: #F4CE14;
font-size: 36px;
}

p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}


.header-right img{
    position:absolute;
    width: 280px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    margin-top:-5%;
    margin-left: -15%;

}
/* Responsive Design */
@media (max-width: 1300px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 40px 5%;
    }

    .header-right img {
        position:relative;
        width: 50%;
        max-height: 20%;
        margin-left: 5%;
        margin-top: 20px;
    }
}